/*load new Text*/

@font-face {
    font-family: SF-Compact-Text-Bold;
    src: url("../type/SF-Compact-Text-Bold.otf");
}
@font-face {
    font-family: SF-Compact-Text-Light;
    src: url("../type/SF-Compact-Text-Light.otf");
}
@font-face {
    font-family: SF-Compact-Text-Medium;
    src: url("../type/SF-Compact-Text-Medium.otf");
}
@font-face {
    font-family: SF-Compact-Text-Heavy;
    src: url("../type/SF-Compact-Text-Heavy.otf");
}
div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
    font-family: SF-Compact-Text-Heavy;
}


/*   Fixed Header
*/.entry-header .inner {
    text-align: left;
    margin-left: 3em;
    width: 100%;
}
.entry-header { padding-top: 20px; background-color: #fff; width:100%; position: fixed; top: 0; left: 0; z-index: 999999}

/*Header Styling nad nav bar
*/
.entry-header{
     background: linear-gradient(rgba(0,0,0,.8), rgba(101,101,101,.5));
     /*background:  rgba(101,101,101,.5);*/
 }
    
/*global styling 
*/

.lg-font{
    font-family: SF-Compact-Text-Bold;
    font-size:40px;
}

.md-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 20px;
}
.blogText{
    font-size: 25px;
    font-family: SF-Compact-Text-Bold;

}
.x-sm-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 1.5em;
}
.sm-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 1em;
}

.xx-sm-font{
    font-size: .75em;
    font-family: SF-Compact-Text-Bold;
}
.white{
    color:white;
}
.black{
    color: #424141;
}
.red{
    color: #e84748;
}
.purple{
    color: #4f5670;
} 
.blue{
    color:#28b6ed;
}
.grey{
    color:424141;
}   
.center{
    text-align: center;
}

div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
}

a{
  color: white;
}

ul li{
  list-style: none;
}

.post{
    position: relative;
    left: 0;
    width: 100%;
    height: 100;
    top: -11em;
    background-color: white;
}
.center{
  text-align: center;
}
#blogPost{
    position: absolute;
    left: 0;
    width: 100%;
    top: -8em;
}

.blogDiv{
    position: absolute;
    left: 21%;
    top: -44em;
    width: 50%;
    height: 49em;
    padding: 2.5em;
    background-color: #4f5670;
    border-radius: 1em;
    display: none;
}

.welcomeMessage{
  text-align: center;
  margin-bottom: 1em;
  font-size: 3em;
}

#blogEntry{
  width: 100%;
  height: 59%;
  font-size: 20px;
  font-family: SF-Compact-Text-Bold;
}


.userContent{
  position: relative;
  top: 8em;
  width: 100%;
}


footer{
  position: relative;
  top: 27em;
}

.login{
  position: relative;
  left: 75%;
  top: 8em;
  border: 1px solid black;
  width: 7%;
  padding: 5px;
  border-radius: 5px;
}

#loginSubmit{
    position: relative;
    left: 17em;
}

.login:active{
  background-color: gray;
}

.hello{
  position: relative;
  left: 1.5em;
  top: 1em;
  padding: 16px 0 16px;
  width: 94.5%;
  border: none;
  border-bottom: 2px solid gray;
  border-bottom-width: 50%;
}

#authorPic{
  width: 7%;
  left: .5%;
}

#authorName{
  font-size: 1.25em;
  position: relative;
  top: -2em;
  left: 7%;
  font-family: SF-Compact-Text-Bold;
}

.blogBox{
  background-color: red;
}

#blogButton{
    position: absolute;
    left: 26%;
    top: 74%;
}

#subject{
  margin-bottom: .5em;
}

#datePosted{
  margin-top: -6px;
  width: 50%;
  font-size: .75em;
  font-family: SF-Compact-Text-Bold;
}

#topic{
  font-family: SF-Compact-Text-Bold;
  font-size: 25px;
  margin-top: -20px;
  width: 50%;
}

h4#message{
  position: relative;
  left: 27%;
}

#uploadPic{
  width: 25%;
  left: 1.5%;
  margin-bottom: 1em;
  border: 1px solid black;
  margin-right: 1%; 
  color: red;
}

button{
  margin-top: 5%;
  position: relative;
  left: 48%;
  font-family: SF-Compact-Text-Bold;
}

label{
    position: relative;
    top: -52%;
}

.viewBlog{
    font-size: 1em;
    position: relative;
    top: -12.5em;
    left: 14%;
    color: #020202;
    background-color: white;
}

.viewBlog:hover{
  background-color: #020202;
  color: white;
}

.showClick{
  display: none;
  margin-top: -7%;
}

.modal-title{
  position: relative;
  left: 40%;
}

.userName{
  color: white;
  font-size: 2em;
}

img#mainPic{
    width: 100%;
    position: relative;
    top: -2em;
}

#greeting{
    position: absolute;
    left: 32%;
    text-align: center;
    top: -14em; 
}

.location{
  position: absolute;
    left: 5%;
    margin-bottom: .5em;
}

#selectedPic{
  position: absolute;
    top: 36em;
    left: 5%;
}
