
ul li{
  list-style: none;
}

.post{
    position: relative;
    left: 25%;
    width: 48%;
    height: 50em;
    border: 1px solid black;
    top: 31em;
    box-shadow: 0px 1px 7px purple;
    overflow: auto;
}

#blogPost{
  position: relative;
  left: 0;
}

.shadow{
  position: relative;
  left: 30.5%;
  border-bottom: 2.5px solid gray;
  width: 31%;
} 

.blogDiv{
  position: relative;
  left: 38%;
  top: -50em;
  width: 21%;
  height: 20em;
  display: none;
}

#blogEntry{
    width: 100%;
    height: 50%;
    position: relative;
    top: -1em;
}

.name, {
    position: relative;
    left: 74%;
    top: -36px;
    border: 1px solid black;
    padding: 1.23em;
    font-size: 1em;
    border-radius: 11px;
    background-color: green;
    color: white;
}

.name:hover{
  background-color: red;
}

.userName{
  position: relative;
  left: 41%;
  top: 74px;
  width: 50%;
}

.greeting{
  position: relative;
  left: 2%;
  top: -4em;
}

footer{
  position: relative;
  top: 27em;
}

.login{
  position: relative;
  left: 75%;
  top: -3em;
  border: 1px solid black;
  width: 7%;
  padding: 5px;
  border-radius: 5px;
}

.login:active{
  background-color: gray;
}

.hello{
  position: relative;
  left: -1.5em;
  top: 1em;
  margin-bottom: 5px;
  border: 1px solid gray;
  padding: 5px;
  box-shadow: 0px 1px 7px purple;
  border-radius: 6px;
  width: 97%;
}

h4{
  text-shadow: 1px 1px 4px black;
}

#authorPic{
  width: 3em;
  left: .5%;
}

#authorName{
  font-size: 1em;
  position: relative;
  top: -2em;
  left: 7%;
}

#fileSelector{
  position: absolute;
  left: 2%;
  top: 47%;
  margin: 0px;
}

#blogButton{
  position: absolute;
  top: 86%;
  background-color: rgb(0, 255, 5);
  border-radius: 1.25em;
}

#datePosted{
  margin-top: -25px;
}

h4#message{
  position: relative;
  left: 27%;
}

#uploadPic{
  width: 8em;
  left: 1.5%;
  margin-bottom: 1em;
  border: 1px solid black;
  box-shadow: 0px 1px 7px purple; 
}

button{
  margin-top: 5%;
  position: relative;
  left: 48%;
}



