
/*.heading{
  background-image: linear-gradient(#E8EBF0, #E5E9EC);
}*/
@font-face {
    font-family: SF-Compact-Text-Bold;
    src: url("../type/SF-Compact-Text-Bold.otf");
}

div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
}

ul li{
  list-style: none;
}
body{
  background-color: #020202;
}

.post{
    position: relative;
    left: 14%;
    width:68%;
    height: 55em;
    top: 2em;
    overflow: auto;
    background-color: white;
}
.center{
  text-align: center;
}
#blogPost{
  position: relative;
  left: 0;
}

.blogDiv{
  position: relative;
  left: 38%;
  top: -50em;
  width: 21%;
  height: 20em;
  display: none;
}

#blogEntry{
    width: 132%;
    height: 59%;
    position: relative;
    top: -7em;
    left:-29em;
    font-size: 20px;
   font-family: SF-Compact-Text-Bold;
}


.name:hover{
  background-color: red;
}

.userContent{
  position: relative;
 /* left: 41%;*/
  top: 8em;
  width: 100%;
}

.greeting{
  position: relative;
  left: 2%;
  top: 3em;
  color: white;
  font-size: 25px;
  font-family: SF-Compact-Text-Bold;
}

footer{
  position: relative;
  top: 27em;
}

.login{
  position: relative;
  left: 75%;
  top: 8em;
  border: 1px solid black;
  width: 7%;
  padding: 5px;
  border-radius: 5px;
}
.LogInHover:hover{
text-decoration: none;
background-color: white;
}

.login:active{
  background-color: gray;
}

.hello{
  position: relative;
  left: -1.5em;
  top: 1em;
  padding: 16px 0 16px;
  width: 94.5%;
  border: none;
  border-bottom: 2px solid gray;
  border-bottom-width: 50%;
}

/*h4{
  text-shadow: 1px 1px 4px black;
}*/

#authorPic{
  width: 7%;
  left: .5%;
}

#authorName{
  font-size: 1.25em;
  position: relative;
  top: -2em;
  left: 7%;
  font-family: SF-Compact-Text-Bold;
}

#fileSelector{
  position: absolute;
  left: -172%;
  top: 20%;
  margin: 0px;
}
.blogBox{
  background-color: red;
}
#blogButton{
  font-size: 1.25em;
  font-family: SF-Compact-Text-Bold;
  position: absolute;
  top: 70%;
  left: -139%;
  background-color:#85a1b9;
  border-radius:.25em;
  width:8em;
  color: white;
}

#datePosted{
  margin-top: -6px;
  width: 50%;
  font-size: .75em;
  font-family: SF-Compact-Text-Bold;
}

#topic{
  font-family: SF-Compact-Text-Bold;
  font-size: 25px;
  margin-top: -20px;
  width: 50%;
}

h4#message{
  position: relative;
  left: 27%;
}

#uploadPic{
  width: 25%;
  left: 1.5%;
  margin-bottom: 1em;
  border: 1px solid black;
  /*box-shadow: 0px 1px 7px purple;*/
  margin-right: 1%; 
  color: red;
}

button{
  margin-top: 5%;
  position: relative;
  left: 48%;
  font-family: SF-Compact-Text-Bold;
}

label{
    position: relative;
    top: -52%;
}

#subject{
  position: relative;
  top: -52%;
  left: -29em;
}


.viewBlog{
  font-size: 1em;
  position: relative;
  top: -8em;
  left: 54%;
  color: #020202;
  background-color: white;
}

.viewBlog:hover{
  background-color: #020202;
  color: white;
}

.showClick{
  display: none;
  margin-top: -7%;
}

.modal-title{
  position: relative;
  left: 40%;
}


.userName{
  color: white;
  font-size: 2em;
}

