
.body{
  background-color: #424141;
  width: 100%;
}

.title{
  
  text-align: center;
  margin-top: 10%;
  color: white;
}

div.clipPicture{
  height: 10em;
  margin: .25em;
}

.picGallery{
    width: 192%;
    position: absolute;
    top: 21em;
    padding: 5px;
    left: 95%;
}

p{
  color: white;
}

.carousel-indicators li {
  position: relative;
  left: 21em;
  top: -30em;
  color: blue;
}

div.video img{
  position: relative;
  top: 2em;
  left: 0;
}

li{
  display: inline-block;
  list-style: none;
  font-size: 2em;
}

.col-sm-4{
  width: 18%;
}

nav{
  font-size: 0.5em;
}

#videoP{
    width: 13em;
    height: 7em;
    position: relative;
    left: 13%;
    top: 0.25em;
/*    display: none;*/
}

.placeHolder{
    width: 1em;
    border-right-width: 28px;
    position: absolute;
    left: 18%;
    font-size: 5.05em;
}

.clipVideo{
    width: 76%;
    font-size: 4em;
    border-right-width: 28px;
    position: absolute;
    left: 20%;
    font-size: 4.05em;
    margin-top: .5em;
}

#video1{
 /*   width: 60em;
    height: 30em;
    position: absolute;
    left: -2%;
    top: 2.25em;*/
    width: 76%;
    display: none;
}

#video2{
 /* width: 60em;
  height: 30em;
  position: absolute;
  left: -3%;
  top: 2.25em;*/
  width: 76%;
  display: none;
}

#video3{
/*  width: 70em;
  height: 30em;
  position: absolute;
  left: -12%;
  top: 2.25em;*/
  width: 76%;
  display: none;
}

#message1{
    color: white;
    position: absolute;
    top: -3em;
    left: 17em;
    width: 95%;
}

.format{
    margin-top: 5em;
    width: 100%;
/*    background: linear-gradient(to top, white, black);*/
    margin-left: -40%;
}

.format3{
      margin-top: 5em;
/*      background: linear-gradient(to top, white, black);*/
}

.item img{
    width: 100%;
}

.logoImg{
  position: relative;
  left: 0;
}

.carousel-indicators .active{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;  
}

.carousel-indicators li{
    position: absolute;
    left: 21em;
    top: -19em;
    color: blue;
}

.carousel-control{
  right:150%;
}

.videos{
/*    background: radial-gradient( white, black);*/
    width: 96.5%;
    height: 72em;
    position: relative;
    top: -2em;
    left: 3em;;
}

.md-font{
  text-align: center;
}

.format1{
    padding: 3em;
    margin: -2em;
}

img.p1{
  position: absolute;
  left: -4em;
}

img.p2{
  position: absolute;
  left: 3em;
}

img.p3{
  position: absolute;
  left: 10em;
}

