
.body{
  background-color: #424141;
  width: 100%;
}

.title{
  
  text-align: center;
  margin-top: 10%;
  color: white;
}

div.clipPicture{
  height: 10em;
  margin: .25em;
}

#videoP{
    width: 106%;
    height: 7em;
    position: relative;
    left: -3%;
    top: 0.25em;
/*    display: none;*/
}

#video1{
    width: 60em;
    height: 30em;
    position: relative;
    left: 53%;
    top: 2.25em;
    display: none;
}

#video2{
  width: 60em;
  height: 30em;
  position: relative;
  left: -70%;
  top: 2.25em;
  display: none;
}

#video3{
  width: 60em;
  height: 30em;
  position: relative;
  left: -180%;
  top: 2.25em;
  display: none;
}

.picGallery{
    width: 99%;
    position: absolute;
    top: 21em;
    padding: 5px;
    left: 95%;
}

p{
  color: white;
}

#picPlaceHolder, .placeHolder{
  width: 76%;
  left: 19%;
  font-size: 4em;
  border-right-width: 28px;
}

.carousel-indicators li {
  position: relative;
  left: 21em;
  top: -30em;
  color: blue;
}

div.video img{
  position: relative;
  top: 2em;
  left: 0;
}

li{
  display: inline-block;
  list-style: none;
  font-size: 2em;
}

.col-sm-4{
  width: 18%;
}

nav{
  font-size: 0.5em;
}

.placeHolder{
/*    border: 2px solid black;*/
    position: absolute;
    left: 9%;
    font-size: 5.05em;
}

#message1{
    color: white;
    position: absolute;
    top: -3em;
    left: 17em;
    width: 95%;
}

.format{
    margin-top: 5em;
    width: 100%;
/*    background: linear-gradient(to top, white, black);*/
    margin-left: -40%;
}

.format3{
      margin-top: 5em;
/*      background: linear-gradient(to top, white, black);*/
}

img{
  position: relative;
  left: 17em;
}

.carousel-indicators .active{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;
  
}

.carousel-indicators li{
    position: relative;
    left: 15em;
    top: -22em;
    color: blue;
  
}

.carousel-control{
  right:150%;
}

.videos{
/*    background: radial-gradient( white, black);*/
    width: 96.5%;
    height: 72em;
    position: relative;
    top: -2em;
    left: 3em;;
}

.md-font{
  text-align: center;
}

.format1{
    padding: 3em;
    margin: -2em;
}

