
.heading{
  background-image: linear-gradient(#E8EBF0, #E5E9EC);
}

h1{
  position: relative;
  font-size: 5em;
  left: 32%;
  top: 10px;
  text-shadow: 2px 3px 5px black;
  width: 71%;
  height: 70%;
  margin-top: 1%;
  margin-bottom: 0%; 
}

/*The below styles apply to the form*/

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  height: 10em;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
  background-color: #e2e2e2;
  border-radius: 6px;
  font-size: 1.25em;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

button {
  font-size: 1.125rem;
  padding: 0.5em 0.75em;
  background-color: #0f0;
  border: 3px solid #3c3;
  color: #363;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 28%;
  top: -1em;
}

/*The below styles apply to the display of table*/

form{
  position: relative;
  left: 15%;
  top: 3em;
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  width: 25%;
}

label#heading{
  display: block;
  font-size: 2em;
  position: relative;
  left: 22%;
  text-shadow: 1px 1px 4px black;
}

table{
    width: 600px;
}

#table{
  position: relative;
  left: 47%;
  width: 42%;
  top: -42em;
}

th, td{
  padding: 7px 10px 10px 10px;
}

th.mainHeading{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111;
  text-align: left;
 /* background-color: #c3e6e5;*/
}

tr:nth-child(2n){
  background-color: #c3e6e5;
}

tr:hover{
  background-color: #96B9F4;
}

td{
  width: 50em;
}

#amount{
  background-image: url("../images/dollarSign.png");
  background-position: left;
  background-repeat: no-repeat;

}

input#amount{
  text-align: right;
}

.money{
  text-align: right;
}

#donorHeading{
  margin: 0 auto;
  font-size: 2em;
  border-bottom: 1px solid gray;
  text-shadow: 1px 1px 4px black;
}


