
body{
/*  background-color: #424141;*/
  width: 100%;
}

/*load new Text*/

@font-face {
    font-family: SF-Compact-Text-Bold;
    src: url("../type/SF-Compact-Text-Bold.otf");
}

div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
}

.heading{
  background-image: linear-gradient(#E8EBF0, #E5E9EC);
}

.x-lg-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 4em;
}
.lg-font{
    font-family: SF-Compact-Text-Bold;
    font-size:40px;
}
.x-md-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 2.5em;
}
.md-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 20px;
}
.blogText{
    font-size: 25px;
    font-family: SF-Compact-Text-Bold;

}
.x-sm-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 1.5em;
}
.sm-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 1em;
}

.xx-sm-font{
    font-size: .75em;
    font-family: SF-Compact-Text-Bold;
}
.ltBlue{
    color:#82b1ff;
}
.mdBlue{
    color:#448aff;
}.dkBlue{
    color:#2979ff;
}.xDkBlue{
    color:#2962ff;
}
.white{
    color:white;
}
.black{
    color: #020202;
} 

.white{
    color: white;
}   
.center{
    text-align: center;
}

.submit{
  position: absolute;
  left: 50%;
}

/*The below styles apply to the form*/

label {
  display: block;
}

form div {
  margin-top: 1em;
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  height: 10em;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
  background-color: #e2e2e2;
  border-radius: 6px;
  font-size: 1.25em;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

button {
  font-size: 1.125rem;
  padding: 0.5em 0.75em;
  background-color: #0f0;
  border: 3px solid #3c3;
  color: #363;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  left: 0.5%;
  top: 38em;
}

/*The below styles apply to the display of table*/

form{
  position: relative;
  left: 15%;
  top: 15em;
  padding: 5px;
}

label#heading{
  font-family: SF-Compact-Text-Bold;
  display: block;
  font-size: 2em;
  position: relative;
  left: 22%;
  color: #020202;
}
label{
  
}

table{
    width: 600px;
}

#table{
  position: relative;
  left: 47%;
  width: 42%;
  top: -30em;
}

th, td{
  padding: 7px 10px 10px 10px;
}

th.mainHeading{
  font-family: SF-Compact-Text-Bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111;
  text-align: left;
 /* background-color: #c3e6e5;*/
}

tr:nth-child(2n){
  background-color: #c3e6e5;
}

tr:hover{
  background-color: #96B9F4;
}

td{
  width: 50em;
}

#amount{
  background-image: url("../images/dollarSign.png");
  background-position: left;
  background-repeat: no-repeat;

}

input#amount{
  text-align: right;
}

.money{
  text-align: right;
}

#donorHeading{
  margin: 0 auto;
  font-size: 2em;
  color: #020202;
}

#table{
  display: none;
  position: absolute;
  top: 16em;
}

#viewSponsor{
  position: absolute;
  top: 12.5em;
  left: 114em;
}

#viewSponsor:hover{
  background-color: blue;
  color: red;
}

#thanksMessage{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 52em;
    top: 22em;
}

#hideViewSponsor{
  display: none;
  position: absolute;
  top: 12.5em;
  left: 114em;
}

.topic{
    position: absolute;
    top: 2em;
    left: 7em;
}

.form-control{
  width: 50%;
}

/*table tbody#donorTable{
  border: 1px solid black;
  height: 59em;
  overflow: auto;
}
*/
