/*load new Text*/

@font-face {
    font-family: SF-Compact-Text-Bold;
    src: url("../type/SF-Compact-Text-Bold.otf");
}
@font-face {
    font-family: SF-Compact-Text-Light;
    src: url("../type/SF-Compact-Text-Light.otf");
}
@font-face {
    font-family: SF-Compact-Text-Medium;
    src: url("../type/SF-Compact-Text-Medium.otf");
}
@font-face {
    font-family: SF-Compact-Text-Heavy;
    src: url("../type/SF-Compact-Text-Heavy.otf");
}
div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
    font-family: SF-Compact-Text-Heavy;
}

.heading{
  background-image: linear-gradient(#E8EBF0, #E5E9EC);
}

.lg-font{
    font-family: SF-Compact-Text-Light;
    font-size:40px;
    line-height: 48px;
}

.md-font{
    font-family: SF-Compact-Text-Medium;
    font-size: 25px;
    line-height: 30px;
}
.btn-font{
    font-family: SF-Compact-Text-Heavy;
    font-size: 20px;
    line-height: 24px;
    background-color: #e84748;
    color: white;
    margin-top: 3em;
    width: 12em;
    height: 3em;
}
.btn-font:hover{
    transform: scale(1.25);
}
.blogText{
    font-size: 25px;
    font-family: SF-Compact-Text-Bold;

}

.sm-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 1em;
}
.
.white{
    color:white;
}
.black{
    color: #424141;
}
.blk{
    color:black;
}
.red{
    color: #e84748;
}
.purple{
    color: #4f5670;
} 
.blue{
    color:#28b6ed;
}
.grey{
    color:424141;
}

.white{
    color: white;
}   
.center{
    text-align: center;
}

/*The below styles apply to the form*/

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  height: 8em;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
  background-color: #e2e2e2;
  border-radius: 6px;
  font-size: 1.25em;
  margin-left: 1em;
  width: 91%;
}

input:focus,
textarea:focus {
  background-color: #fff;
}
.btn-font{
    font-family: SF-Compact-Text-Heavy;
    font-size: 20px;
    line-height: 24px;
    background-color: #e84748;
    color: white;
    margin-top: 3em;
    width: 12em;
    height: 3em;

}
.btn-font:hover{
    transform: scale(1.25);
}



/*The below styles apply to the display of table*/

form{
  background-color: #4f5670;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 7px 7px #424141;
}
form label {
  margin-left: 1em;
  color: white;
}
form input{
  margin-left: 1em;
  color: #4f5670;
}

table{
  width: 600px;
  position: absolute;
  left: 32%;
  margin-right: auto;
  margin-left: auto;
  top: 43em;
}

label#heading{
  width: 600px;
  position: absolute;
  left: 25%;
  margin-right: auto;
  margin-left: auto;
  top: 34em;
}

#registryTable{
  display: none;
  width: 40%;

}

th, td{
  padding: 7px 10px 10px 10px;
}

th.mainHeading{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111;
  text-align: left;
}

tr:nth-child(2n){
  background-color: #4f5670;
  color: white;
}

tr:hover{
  background-color: #96B9F4;
}

td{
  width: 50em;
}

#amount{
  background-image: url("../images/dollarSign.png");
  background-position: left;
  background-repeat: no-repeat;
}

input#amount{
  text-align: right;
}

.money{
  text-align: right;
}

#viewRegistry{
  margin-right: auto;
  margin-left: auto;
  
}

#viewSponsor:hover{
  background-color: blue;
  color: red;
}


#thanksMessage{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    display: none;
}
.thankYou{
  width: 100%;
}

#thankYouSign{
  width: 50%;
}

#hideViewRegistry{
  display: none;
  margin-right: auto;
  margin-left: auto;
}


