/*global styling 
*/

img{
    width: 100%;
}
.x-lg-font{
    font-family: Ubuntu Medium;
    font-size: 4em;
}
.lg-font{
    font-family: Ubuntu Medium;
    font-size: 3em;
}
.x-md-font{
    font-family: Ubuntu Medium;
    font-size: 2.5em;
}
.md-font{
    font-family: Ubuntu Medium;
    font-size: 2em;
}
.x-sm-font{
    font-family: Ubuntu Medium;
    font-size: 1.5em;
}
.sm-font{
    font-family: Ubuntu Medium;
    font-size: 1em;
}
.ltBlue{
    color:#82b1ff;
}
.mdBlue{
    color:#448aff;
}.dkBlue{
    color:#2979ff;
}.xDkBlue{
    color:#2962ff;
}
.white{
    color:white;
}

.red{
    color: #FF4946;
   } 
.center{
    text-align: center;
}
.getInvolved{
    background-color: #2962ff;
    color: white;
    border-radius: .5em;
    padding: .25em;
    margin-left: 2em;
    margin-top: .5em;
}
.col-3{
    width:28%;
    display: inline-block;
    padding: 1em;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.hsContent {
	/*max-width: 700px;*/
	position: absolute;
	left: 50%;
	top: 50%;
}

/*Individual Slide Styling*/
/*Slide-1
*/#slide-1 .bcg {background-image:url('../images/homeGuy.jpg')}
#slide-1 .hsContent {
    left: 10px;
	bottom: 200px;
	top: 10px;
}

/* Slide 2 */

#slide-2 .bcg {background-image:url('../images/bg.jpg')}
#slide-2 .hsContainer {
  width: 100%;
}
#slide-2 img{
    width: 25%;
}
.aboutUsContainer{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color:white;
}
#slide-2 .col-3{
    vertical-align: top;
    padding: 2em;
    margin:0;
}
.advisor{
        position: relative;
    top: -6em;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../images/sky.png')}
#slide-3 .hsContent {
	
}

#slide-3 .col-3 img {
    width: 100%;   
}
.iconRow{
    width: 100%;
}
.iconTitleRow{
    position: relative;
    top: 29em;

}	
/*Service page row
Icon rotate*/
.card-container {
  height: 100%;
  perspective: 600;
  position: relative;
  width: 100%;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../images/stress.jpg')}

.stressInfo{
    width: 100%;
    background-color: white;
}
.col-2{
    vertical-align: top;
    width: 47%;
    display: inline-block;
}
.stressMain{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#slide-4 img{
    width: 75%;
}


/* Slide 5 */
#slide-5 .bcg {background-image:url('../images/strength.jpg')}


/* Slide 6 */
#slide-6 .bcg {background-image:url('../images/garden.jpg')}
#slide-6 .hsContent {
    margin-left: -450px;
}
    #slide-6 h2 {
        background: none;
        padding-left: 0;
        padding-right: 0;
    }



/* Slide 4 */
#slide-7 .bcg {background-image:url('../img/bcg_slide-4.jpg')}
#slide-7 .hsContent {
	margin-left: -450px;
}
	#slide-7 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}

