/*global styling 
*/
img{
    max-width: 100%;
}
.x-lg-font{
    font-family: Ubuntu Medium;
    font-size: 4em;
}
.lg-font{
    font-family: Ubuntu Medium;
    font-size: 3em;
}
.x-md-font{
    font-family: Ubuntu Medium;
    font-size: 1.75em;
}
.md-font{
    font-family: Ubuntu Medium;
    font-size: 2em;
}
.x-sm-font{
    font-family: Ubuntu Medium;
    font-size: 1.5em;
}
.sm-font{
    font-family: Ubuntu Medium;
    font-size: 1em;
}
.ltBlue{
    color:#82b1ff;
}
.mdBlue{
    color:#448aff;
}.dkBlue{
    color:#2979ff;
}.xDkBlue{
    color:#2962ff;
}
.center{
    text-align: center;
}
.getInvolved{
    background-color: #2962ff;
    color: white;
    border-radius: .5em;
    padding: .25em;
    margin-left: 2em;
    margin-top: .5em;
}

/*Styling for Home Page*/



/*Styling for the Service Icon section
*/
.serviceContainer{
    width: 100%;
}
.col-3{
    width: 30%;
    display: inline-block;
    height: 30em;
    text-align: center;
}
/*Service page row
Icon rotate*/
.card-container {
  height: 100%;
  perspective: 600;
  position: relative;
  width: 100%;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}


/*Home page styling*/
.container{

    width: 100%;
}
.homeBackground{
    margin-left: auto;
    margin-right: auto;
    width:100%  ;
    background-image: url(../images/homeGuy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
    
}
.titleHome{
    position: relative;
    top: 2em;
    left: 1em;
    width: 40%;
    color: #FF4945;
}
.homePageHead{
    width: 50%;
}
nav ul{
    width: 40%
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    margin-top: 2em;
}
nav li {
    display: inline;
    padding: 1em;
}
nav a {
    display: inline-block;
}



/*
Strength and Conditioning section*/
.strongRow{

}
.strong{
    margin-top: 6em;

}

/*Stress Management section*/

.yogaGirl{
    width: 100%;
}

.yogaBackground{
    background-image: url(../images/oceanYoga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 17em;

}
.nutritionBackground{
    background-image: url(../images/largeNutrition.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 17em;

}
