/*global styling 
*/


.lg-font{
	font-family: Ubuntu Medium;
	font-size: 40px;
}

.md-font{
	font-family: Ubuntu Medium;
	font-size: 25px;
}

.sm-font{
	font-family: Ubuntu Medium;
	font-size: 25px;
}

.center{
	text-align: center;
}
.red{
	color: #e84748;
}
.purple{
	color: #4f5670;
}
.blue{
	color:#28b6ed;
}
.grey{
	color: #424141;
}

/*Styling for the Service Icon section
*/


nav ul{
	width: 40%
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	margin-top: 2em;
}
nav li {
	display: inline;
	padding: 1em;
}
nav a {
	display: inline-block;
}

/*Stress Management section*/

.yogaBackground{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/yogaGirl.jpg) no-repeat fixed center / cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	min-height: 40em;
}
.stressTitle{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	position:relative;
	top: 44%;
	color: white;
}
.classInfo{
	width: 40%;
	display: inline-block;
}
.col-md-5{
	margin-left: 7em;
	border: 1px solid white;
	box-shadow: 1px 3px 3px #424141;
}

/*nutrition section*/

.nutritionBackground{
		background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/largeNutrition.jpg) no-repeat fixed center / cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	min-height: 40em;
}

/*Strength section*/
.strengthBackground{
		background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/newGym.jpg) no-repeat fixed center / cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	min-height: 40em;
}