@import url("donor.css");

#advisory{
  position: relative;
  left: -5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

h1#aboutUs{
    position: relative;
    font-size: 5em;
    left: -31%;
    top: 10px;
    text-shadow: 2px 3px 5px black;
    width: 71%;
    height: 70%;
    margin-top: 1%;
    margin-bottom: 0%;
}

h1#getInvolved{
    position: relative;
    font-size: 5em;
    left: -43%;
    top: 10px;
    text-shadow: 2px 3px 5px black;
    width: 71%;
    height: 70%;
    margin-top: 5%;
    margin-bottom: 0%;
}

h1#becomeSponsor{
    position: relative;
    font-size: 5em;
    left: -34%;
    top: 10px;
    text-shadow: 2px 3px 5px black;
    width: 71%;
    height: 70%;
    margin-top: 1%;
    margin-bottom: 0%;
}

.getInvolvedHeading{
  text-align: center;
  font-size: 1.75em;
  text-shadow: 2px 0px 4px black;
  width: 89%;
}

.sponsorHeading{
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 1px 4px black;
  width: 89%;
}