/*load new Text*/

@font-face {
    font-family: SF-Compact-Text-Bold;
    src: url("../type/SF-Compact-Text-Bold.otf");
}
@font-face {
    font-family: SF-Compact-Text-Light;
    src: url("../type/SF-Compact-Text-Light.otf");
}
@font-face {
    font-family: SF-Compact-Text-Medium;
    src: url("../type/SF-Compact-Text-Medium.otf");
}
@font-face {
    font-family: SF-Compact-Text-Heavy;
    src: url("../type/SF-Compact-Text-Heavy.otf");
}
@font-face {
    font-family: SF-Compact-Text-LightItalic;
    src: url("../type/SF-Compact-Text-LightItalic.otf");
}
div {
    font-family: SF-Compact-Text-Bold;
    font-family: SF-Compact-Text-Light;
    font-family: SF-Compact-Text-Medium;
    font-family: SF-Compact-Text-Heavy;
    font-family: SF-Compact-Text-LightItalic;
}

/*global styling 
*/
.lg-font{
    font-family: SF-Compact-Text-Light;
    font-size:40px;
    line-height: 48px;
}

.md-font{
    font-family: SF-Compact-Text-Medium;
    font-size: 25px;
    line-height: 30px;
}
.x-md-font{
     font-family: SF-Compact-Text-Light;
    font-size: 35px;
    line-height: 30px;

}

.sm-font{ 
    font-family:SF-Compact-Text-Bold; ;
    font-size: 14px;
}
.x-sm-font{ 
    font-family:SF-Compact-Text-Bold; ;
    font-size: 15px;
}
.class-font{
     font-family: SF-Compact-Text-LightItalic;
    font-size: 25px;
    line-height: 30px
}

.sm-class-font{
    font-family: SF-Compact-Text-Light;
    font-size: 18px;
    line-height: 30px

}
.md-class-font{
    font-family: SF-Compact-Text-Bold;
    font-size: 20px;
    line-height: 30px

}
.white{
    color:white;
}
.black{
    color: #424141;
}
.blk{
    color:black;
}
.red{
    color: #e84748;
}
.purple{
    color: #4f5670;
} 
.blue{
    color:#28b6ed;
}
.grey{
    color:424141;
}

.white{
    color: white;
}   
.center{
    text-align: center;
}

/*Header Styling amd navbar*/
.entry-header{
     background: linear-gradient(rgba(0,0,0,.8), rgba(101,101,101,.1)); 
 }

.inner{
    width: 100%;

}
.head{
    background: linear-gradient(rgba(0,0,0,.8), rgba(101,101,101,.5)); 
    height: 6em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

nav li{
    display: inline;
}
nav a{
    display: inline-block;
    width: 10em;
    padding: .5em;
    text-align: center;
}

nav a:hover{
    color:  #e84748;
    text-decoration: none;

}
.donar:hover{
    color: red;
    text-decoration: none;
    background-color: #28b6ed;
    transform: scale(1.5);
}
.donar{
    background-color: white;
    border-radius: 2em;
    margin-left: 1.5em;
}

/*Stress Management section*/
.yogaBackground{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/yogaGirl.jpg) no-repeat fixed top / cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	min-height: 45em;
}
.stressTitle{
    text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	position:relative;
	top: 7em;
	color: white;
    line-height: 1.5em;
}
.classInfo{
	width: 40%;
	display: inline-block;}


/*nutrition section*/
.nutritionBackground{
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/largeNutrition.jpg) no-repeat fixed center / cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	min-height: 45em;
}

/*Strength section*/
.strengthBackground{
     background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)), url(../images/fitMan.jpg) no-repeat fixed top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    min-height: 45em;
}

/*standard service size*/
.stdRow{
	margin-left: auto;
	width:100%;
}
.text{
	margin: .5em;
	vertical-align: top;
	display: inline-block;
	/*width: 47%;*/
	box-shadow: 6px 6px 6px #424141;
	min-height: 17em;
}
.col-md-5 .col-xs-5{
    padding: .75em;
}

@media (max-width: 30em){
    
    .text ul > li{
        font-size: 18px;
     }
    .text p{
        font-size: 16px;

    }
    .donar{
        background-color: white;
        border-radius:0em 
    }
    .navSize{
        font-size: 16px;
        width:100%;
    }
   .navSize:hover{
    background-color: #424141;
    color: white;
   }
    .donar:hover{
        background-color: #28b6ed;
        color: #e84748;
    }


}
